
body{
    margin:0;
    padding:0;
}
.container
{
    background: url(images/background.png);
    height: 100vh;
    width:100%;
}
.logo
{
    width: 160px;
    cursor: pointer;
    animation:movedown 1s linear 1;
    animation-fill-mode: forwards;
    visibility: hidden;
  
}
@keyframes movedown 
{
    0%
    {
       transform: translateY(-100px); 
       visibility:visible;
    }
    100%
    {
        transform: translateY(0);
        visibility: visible;
    }
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li a{
    text-decoration: none;
    color:rgb(92, 16, 69);
    font-size: 20px;
    padding:10px;
  
}
.navbar ul li 
{
    list-style: none;
    display: inline-flex;
    margin:10px;
   
}
.btn
{
    border:2px solid rgb(124, 16, 57);
    padding:10px;
    text-decoration: none;
    color:rgb(77, 13, 45);
    margin-left:45vw;
    
}
.content h1
{ 
    color:rgb(12, 48, 71);
    font-size: 30px;
    text-align: center;
    margin-top:30px;
    animation: moveright 1s linear 1;
animation-delay: 0s;
animation-fill-mode: forwards;
}
.content p{
    color :rgb(12, 48, 71);
font-size:20px ;
text-align: center;

}
.content
{
  margin-top: 40px;
    display: block;
height: 20vh;


}
@keyframes moveright
{
    0%
    {
       transform: translateX(-100px); 
       visibility:visible;
    }
    100%
    {
        transform: translateX(0);
        visibility: visible;
    }
}
.myimgaes
{
    display: inline;
}
.shopimg
{
    height: 150px;
    right:100px;
    margin-left: 5%;
    margin-top: 5%;
}
.shop-btn
{
    padding:20px;
    width: 200px;
    font-size: 20px;
    border:2px solid rgb(11, 77, 104);
    background-color: transparent;
    border-radius: 8px;
    margin-left: 20%;
    cursor: pointer;
}
.shop-btn:hover
{
    background: rgb(129, 197, 197);
    color:black;
    border:transparent;
    font-size:24px;
}
.feature-img
{
    height: 200px;
visibility: hidden;
   position: absolute;
   right:140px;
   animation: moveup 3s linear 1;
animation-delay: 1s;
animation-fill-mode: forwards;
}
@keyframes moveup
{
    0%
    {
       transform: scale(0) ;
       visibility:visible;
    }
    100%
    {
        transform: scale(1);
        visibility: visible;
    }
}

.social-links
{
    display: inline-flex;
    margin-top: 40vh;
   
}
.social-links a{
    padding:10px;
    text-align: center;
    text-decoration: none;
    color:black;
}
