
body{
    margin:0;
    padding:0;
}
.container
{
    background: url(images/background.png);
    height: 90vh;
    width:100%;
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li a{
    text-decoration: none;
    color:rgb(92, 16, 69);
    font-size: 20px;
    padding:10px;
  
}
.navbar ul li 
{
    list-style: none;
    display: inline-flex;
    margin:10px;
   
}
.btn
{
    border:2px solid rgb(124, 16, 57);
    padding:10px;
    text-decoration: none;
    color:rgb(77, 13, 45);
    margin:5px;
}